<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dipuj2ee.owing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DabitTaransectionActivity" />
        <activity android:name=".ui.PaidCalculationActivity" />
        <activity android:name=".ui.CalculationActivity" />
        <activity android:name=".ui.CustomerProfileActivity" />
        <activity android:name=".ui.CustomerInfoActivity" />
        <activity android:name=".ui.Email_Verify_Activity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.CustomerActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>